:root {
    --background: #0f0f0f;
    --header-footer: #121212;
    --neon-green: #15F5BA;
    --primary-text: #e4e4e4;
    --secondary-text: #b2b2b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Orbitron', sans-serif;
    color: var(--primary-text);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    color: var(--primary-text);
    text-align: center;
    margin-top: 20px;
}

.categoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

.category {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    padding: 20px;
    background-color: var(--header-footer);
    color: var(--primary-text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.category:hover {
    background-color: var(--neon-green);
    color: var(--background);
    transform: translateY(-3px);
}

.category:hover h3,
.category:hover p {
    color: var(--background);
}

.category h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-text);
}

.category p {
    margin: 8px 0 0;
    font-size: 14px;
    color: var(--secondary-text);
}
