:root {
    --background: #0f0f0f;
    --header-footer: #121212;
    --neon-green: #15F5BA;
    --primary-text: #e4e4e4;
    --secondary-text: #b2b2b2;
}

body {
    background-color: var(--background);
    font-family: 'Orbitron', sans-serif;
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: var(--neon-green);
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    background-color: var(--header-footer);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    color: var(--primary-text);
    font-size: 1.1em;
}

input[type="text"],
input[type="password"] {
    background-color: var(--header-footer);
    border: 1px solid var(--neon-green);
    color: var(--primary-text);
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: var(--secondary-text);
}

button[type="submit"],
button[type="button"] {
    font-family: 'Orbitron', sans-serif;
    color: var(--background);
    background-color: var(--neon-green);
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: var(--primary-text);
    color: var(--background);
}