:root {
    --background: #0f0f0f;
    --header-footer: #121212;
    --neon-green: #15F5BA;
    --primary-text: #e4e4e4;
    --secondary-text: #b2b2b2;
}

body {
    background-color: var(--background);
    font-family: 'Orbitron', sans-serif;
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1,
h2 {
    color: var(--neon-green);
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

form {
    background-color: var(--header-footer);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea,
select {
    background-color: var(--header-footer);
    border: 1px solid var(--neon-green);
    color: var(--primary-text);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1em;
}

textarea::placeholder {
    color: var(--secondary-text);
}

select {
    background-color: var(--background);
    color: var(--primary-text);
    padding: 8px;
}

button[type="submit"] {
    font-family: 'Orbitron', sans-serif;
    color: var(--background);
    background-color: var(--neon-green);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
}

button[type="submit"]:hover {
    background-color: var(--primary-text);
    color: var(--background);
}
