:root {
    --background: #0f0f0f;
    --header-footer: #121212;
    --neon-green: #15f5ba;
    --primary-text: #e4e4e4;
    --secondary-text: #b2b2b2;
}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--background);
    color: var(--primary-text);
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    line-height: 1.2;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


article.post {
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}

button.comment-button{
    background-color: hsl(0, 0%, 98%);
}

header {
    border-bottom: 1px solid #f9f9f9;
}

footer {
    background-color: var(--header-footer);
    padding: 20px;
    text-align: center;
    color: var(--primary-text);
}

h3 {
    color: var(--neon-green);
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--header-footer);
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

.post {
    background-color: var(--header-footer);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post-header {
    font-weight: bold;
    color: var(--neon-green);
    font-size: 1.2em;
}

.post-content p {
    margin: 8px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
}

button {
    background-color: var(--neon-green);
    color: var(--background);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: var(--secondary-text);
}

.comment-button,
.like,
.dislike,
.comment-submit {
    color: var(--background);
    background-color: var(--neon-green);
}

.comments-section {
    background-color: var(--header-footer);
    padding: 10px;
    border-radius: 5px;
    color: var(--secondary-text);
}

.comments-section h3 {
    color: var(--neon-green);
}

.comment {
    background-color: var(--header-footer);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px var(--neon-green);
}

.comment strong {
    color: var(--neon-green);
}

.likes {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

textarea.comment-input {
    width: 100%;
    border: 1px solid var(--neon-green);
    background-color: var(--header-footer);
    color: var(--primary-text);
    border-radius: 5px;
    padding: 10px;
}

.comment-input::placeholder {
    color: var(--secondary-text);
}

.comment-submit {
    background-color: var(--neon-green);
    color: var(--background);
}

@media screen and (min-width: 800px) {
    body {
        border-left: 1px solid #f9f9f9;
        border-right: 1px solid #f9f9f9;
        padding: 1rem 2rem;
    }
}