:root {
    --background: #000000;
    --header-footer: #0c0c0c;
    --neon-green: #15f5ba;
    --primary-text: #e4e4e4;
    --secondary-text: #b2b2b2;
}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--background);
    color: var(--primary-text);
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    line-height: 1.2;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


article.post {
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    padding: 2rem;
    margin: 1.5px;
}

.post header{
    display: flex;
    justify-content: space-between;
}

button.comment-button{
    background-color: hsl(0, 0%, 98%);
}

.container {
    background-color: var(--header-footer);
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
}

button {
    color: var(--background);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: var(--secondary-text);
}

time {
    color: #504f4f;
}



dialog{
    border-radius: 10px;
    padding : '20px';
    background-color : rgb(43, 41, 41);
    border-radius:   '8px';
    text-align : 'center';
    max-width:  '400px';
    box-shadow:  '0 0 10px rgba(0, 0, 0, 0.1)';
    color : white;
}

dialog button {
    margin-top:  10px; 
    padding: 10px 20px ; 
    font-size: 16px ; 
}

button:focus {
    outline: 2px solid rgb(39, 241, 190);
}

.one_comment button {
    padding: 4px 8px; 
    font-size: 12px; 
    border-radius: 4px;
}

.add_comment {
    display: flex;
    justify-content: space-between;
}

.add_comment textarea {
    padding: 0;
    background-color: #292929;
    width: 90%;
    color: white;
    font-family: Arial, sans-serif;
}


@media screen and (min-width: 800px) {
    body {
        border-left: 1px solid #f9f9f9;
        border-right: 1px solid #f9f9f9;
        padding: 1rem 2rem;
    }
}