{{define "header"}}

{{end}}


{{define "main"}}
<h1>Categories</h1>

<form id="categoryForm" class="categoryForm">
    {{range .Categories}}
    <button type="button" class="category" onclick="submitForm('{{.Id}}')">
        <h3>{{.Name}}</h3>
        <p>{{.Description}}</p>
    </button>
    {{end}}
</form>

<script>
    function submitForm(category) {
        const params = new URLSearchParams({ category: category });
        window.location.href = `/categories?${params}`;
    }
</script>
{{end}}