{{define "style"}}
<link rel="stylesheet" href="/assets/css/login.css">
{{end}}

{{define "title"}}talk - Login{{end}}

{{define "header"}}
<header>
    <a href="/">
        <div class="logo">
            <img src="/assets/icons/logo.png" alt="Logo">
        </div>
    </a>
    <nav class="top-bar">
        <a href="/login" class="active">Login</a>
        <a href="/register">Signup</a>
    </nav>
</header>
{{end}}

{{define "sidebar"}}{{end}}

{{define "body"}}
<main>
    <div class="container">
        <section class="login">
            <h2>Login</h2>
            <form id="login-form" >
                <div class="form-group">
                    <label for="login-username">Username:</label>
                    <input type="text" id="login-username" name="username" placeholder="Enter your username" minlength="5" maxlength="30" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Password:</label>
                    <input type="password" id="login-password" name="password" placeholder="Enter your password"
                        minlength="8" maxlength="64">
                </div>
                <button type="submit">Login</button>
                <p class="signup-link">Don't have an account? <a href="/register">Signup</a></p>
                <p id="responseMessage"></p>

            </form>
        </section>
    </div>
</main>
{{end}}


{{define "script"}}
<script type="module" src="/assets/js/login.js"></script>
{{end}}