<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="./assets/post.css">
</head>
<body>

<h1>Select a Category</h1>

<form id="categoryForm">
    {{range .}}
    <button type="button" onclick="submitForm('{{.Id}}')">{{.Name}}</button>
    {{end}}
</form>

<script>
    function submitForm(category) {
        const form = document.getElementById("categoryForm");
        var params = new URLSearchParams({
            category : category,
        })
        console.log(params)
        window.location.href = `/categories?${params}`
    }
</script>

</body>
</html>
