{{define "style"}} 
<link rel="stylesheet" href="/assets/css/error.css">
{{end}}

{{define "title" }}talk - Error{{end}}

{{define "header"}}
<header>
    <a href="/">
        <div class="logo">
            <img src="/assets/icons/logo.png" alt="Logo">
        </div>
    </a>
    <nav class="top-bar">
        <a href="/login" class="active">Login</a>
        <a href="/register">Signup</a>
    </nav>
</header>
{{end}}

{{define "sidebar"}}{{end}}

{{define "body"}}
<main>
    <p>{{.Message}}</p>
    {{if .Unauthorized}}
        <button class="login" onclick="window.location.href='/login'">Login</button>
    {{end}}
</main>
{{end}}

{{define "script"}} 
    <script type="module" src="/assets/js/script.js"></script> 
    <script type="module" src="/assets/js/posts.js"></script> 
{{end}}

