{{define "style"}}
<link rel="stylesheet" href="/assets/css/error.css">
{{end}}

{{define "title" }}talk - Error{{end}}

{{define "sidebar"}}{{end}}

{{define "body"}}
<main>
    <section class="container">
        <h1>{{.Message}}</h1>
        <!-- {{if .Unauthorized}}
        <button class="login" onclick="window.location.href='/login'">Login</button>
        {{end}} -->
    </section>
</main>
{{end}}

{{define "script"}}
<script type="module" src="/assets/js/script.js"></script>
<script type="module" src="/assets/js/posts.js"></script>
{{end}}