<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/newPost.css">
    <title>New Post</title>
</head>

<body>
    <h1>Create New Post</h1>
    <form action="/new_post" method="post">
        <h2>Title</h2>
        <textarea name="title" placeholder="Write your title" required></textarea>

        <h2>Content</h2>
        <textarea name="content" placeholder="Write your content here" required></textarea>

        <h2>Category</h2>
            {{range .}}
            <label>
            <input type="checkbox" name="category" value="{{.Id}}">{{.Name}}
            </label>
            {{end}}
        <button type="submit">Submit</button>
    </form>
</body>

</html>