<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/post.css">
    <title>Home</title>
</head>

<body>
    <button class="New_Post" type="button" onclick="window.location.href='/New_Post'">New Post</button>
    <button id="logout-button">Logout</button>

    <div class="container">
    </div>
    {{ if . }}
    <script type="module">
        import { GetData } from './assets/script.js';
        GetData();
        console.log("yes");
    </script>
    {{ else }}
    <script type="module">
        import { GetData } from './assets/script.js';
        GetData();
        console.log("yes");
    </script>
    {{ end }}
</body>

</html>