<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/post.css">
    <title>Home</title>
</head>

<body>
    <header class="navbar">
        <div class="newPost">
            <button class="new-post-button" onclick="window.location.href='/new_post'">New Post</button>
            <button class="new-post-button" onclick="window.location.href='/categories'">Categories</button>
        </div>
        <div class="registration">
            <button id="login-logout">Logout</button>
            <button id="register">Register</button>
        </div>
    </header>

    <div class="posts-container">
    </div>
    <script type="module">
        import { GetData, logoutEvent } from './assets/js/script.js';
        let postIds = JSON.parse('{{.}}')
        GetData(postIds);
        const log = document.getElementById('login-logout')
        const register = document.getElementById('register')
        if (document.cookie) {
            log.textContent = 'Logout'
            register.remove()
            logoutEvent(log)
        } else {
            log.textContent = 'Login'
            register.addEventListener('click', async () => {
                window.location.href = '/register';
            })
            log.addEventListener('click', async () => {
                window.location.href = '/login';
            })
        }
    </script>
</body>

</html>