<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <button class="New_Post" type="button" onclick="window.location.href='/New_Post'">New Post</button>
    <div class="container">
    </div>
    <script type="module">
        import { GetData, Active_Events } from './assets/script.js';
        GetData();
        Active_Events();
        console.log("yes");
    </script>
</body>

</html>